In [1]:
## Class 8 Exercise: Predicting Survival on the Titanic

This assignment uses data from Kaggle's [Titanic](https://www.kaggle.com/c/titanic/data) competition. `titanic.csv` is in the repo, so there is no need to download the data from the Kaggle website.

**Tasks:**

1. Read `titanic.csv` into a DataFrame.
2. What is the null accuracy rate for predicting survival? (This means the probability of choosing the largest unique category, either survived or not)
3. Can you think of some variables that are in the dataset that might contribute to predicting survival of the crash?
4. Define Pclass and Parch as the features, and Survived as the response.
5. Split the data into training and testing sets. (Hint: use the train test split modules from sklearn)
6. Fit a logistic regression model and examine the coefficients to confirm that they make intuitive sense.
7. Make predictions on the testing set and calculate the accuracy.
8. Create a confusion matrix and document the model's sensitivity and specificity. (remember you should run metrics on your test classes!)
9. Also include Age as a feature, and calculate the testing accuracy. There will be a small issue you'll have to deal with. What is it? How will you deal with it? (Hint you can try using fillna with the mean of the column, median, etc)
10. Try to make up a new column (be creative!) that you think might be helpful. For example one student make a column called "is_married" which was a combination of SibSp and the name column and include this new column.
11. In any of your models, were you able to beat the null accuracy rate?



Always remember to cross validate your models when attempting to gaguge predictive power. You may fit on the entire dataset when attempting to select features by looking at model coefficients.

SyntaxError: invalid syntax (<ipython-input-1-d7a010523e19>, line 3)

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

In [5]:
titanic = pd.read_csv('../data/titanic.csv')

In [6]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [8]:
total_people = float(titanic.Survived.count())
total_people

891.0

In [9]:
titanic.Survived.value_counts().apply(lambda x: x/total_people)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [10]:
features = ['Pclass','Parch']

In [11]:
X = titanic[features]
y = titanic.Survived

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [16]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
pd.DataFrame(zip(X.columns, logreg.coef_[0]))

        0         1
0  Pclass -0.877471
1   Parch  0.261381

In [17]:
logreg.score(X_test, y_test)

0.64573991031390132